.divbor {
    border-right: 1px solid lightgray;
}

section {
    ul {
        a {
            display: flex;
        }
        .a{
            margin-right: 5%;
            margin-top: 4px;
        }
        li
        {
            a.active {
            color: red;
            font-weight: bold;
            display: flex;
            transition: all 0.3s;
            font-size: large;
            .a{
                margin-right: 5%;
                margin-top: 4px;
            }
            }
            
        }
        
    }
}

