.divbor {
    border-right: 1px solid lightgray;
}

section {
    ul {
        .li,li {
            display: flex;
        }
        .a{
            margin-left: 5%;
            margin-top: -4px;
        }
        
    }
}